/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.btn-primary {
  color: #fff;
  background-color: #3498db;
  border-color: #3498db;
}

.navbar {
  background-color: #3498db;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
.navbar-light .navbar-brand {
  color: #ffffff;
  font-family: ubuntu, Times New Roman, Times, serif;
  font-size: 19px;
  font-weight: bold;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

code {
  font-size: 80%;
}

/*do not show double click to zoom out*/
div.plotly-notifier {
  visibility: hidden;
}

/* graph CSS */
#graph {
  height: 100%;
  width: 100%;
  display: flex;
}

.view-wrapper .edge .edge-text {
  stroke-width: 0px;
  font-size: 12px;
  fill: black;
  color: black;
}
.view-wrapper .edge.selected .edge-text {
  fill: black;
  color: black;
}

.view-wrapper .node .node-text {
  font-family: FontAwesome;
  font-size: 21px;
}

.view-wrapper .node .shape > use.node {
  fill: transparent;
}

.view-wrapper .node.selected .node-text {
  stroke-width: 0px;
}

.view-wrapper .edge {
  stroke: #80bfff;
  stroke-width: 1.7px;
}
/* END OF graph CSS */

.projectdiv {
  padding: 21px;
  margin: 7px;
  border-top: 5px solid #3498db;
  background-color: #f6f8fa; /*#3498db;*/
}
