/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

code {
  font-size: 80%;
}

/*do not show double click to zoom out*/
div.plotly-notifier {
  visibility: hidden;
}

#graph {
  height: 100%;
  width: 100%;
  display: flex;
}

.view-wrapper .edge .edge-text {
  stroke-width: 0px;
  font-size: 12px;
  fill: black;
  color: black;
}
.view-wrapper .edge.selected .edge-text {
  fill: black;
  color: black;
}

.view-wrapper .node .node-text {
  font-family: FontAwesome;
  font-size: 21px;
}

.view-wrapper .node.selected .node-text {
  stroke-width: 0px;
}

.view-wrapper .edge {
  stroke: #80bfff;
  stroke-width: 1.7px;
}
